/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.form-container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.form-field{
  margin-left: 15px;
  margin-right: 15px;
}

/*Snackbar colors*/
.alertSnack {
  background: #e1f40b;
  color: azure;
}
.butttonAlertSnack button{
  background: #e1f40b;
  color:azure;
}

.sucessSnack {
  background: #57ff00;
  color: azure;
}
.butttonSucessSnack button{
  background:  #57ff00;
  color:azure ;
}

.warningSnack {
  background: #eb7b08;
  color:azure;
}
.butttonWarningSnack button{
  background: #eb7b08;
  color:azure;
}

.errorSnack {
  color:azure;
  background: #eb0417
}
.butttonErrorSnack button{
  background: #eb0417;
  color:azure;
}
